In [1]:
import pandas as pd
import numpy as np

In [2]:
num_rows=1000

#security metrics
physical_security_metrics=np.random.randint(3,6,size=num_rows)
cybersecurity_metrics=np.random.randint(3,6,size=num_rows)
regulatory_compliance_metrics=np.random.randint(2,6,size=num_rows)

#traceability metrics
product_tracking_metrics=np.random.randint(2,6,size=num_rows)
documentation_metrics=np.random.randint(3,6,size=num_rows)
transparency_metrics=np.random.randint(2,6,size=num_rows)

# Create the dataset
data = {
    'Physical Security Metrics': physical_security_metrics,
    'Cyber Security Metrics': cybersecurity_metrics,
    'Regulatory Compliance Metrics': regulatory_compliance_metrics,
    'Product Tracking Metrics': product_tracking_metrics,
    'Documentation Metrics': documentation_metrics,
    'Transparency Metrics': transparency_metrics,
}

sec_trac=pd.DataFrame(data)

In [3]:
sec_trac['Security_Score']=sec_trac['Physical Security Metrics']/5+sec_trac['Cyber Security Metrics']/5+sec_trac['Regulatory Compliance Metrics']/5
sec_trac['Traceability_Score']=sec_trac['Product Tracking Metrics']/5+sec_trac['Documentation Metrics']/5+ sec_trac['Transparency Metrics']/5

In [4]:
sec_trac

,Physical Security Metrics,Cyber Security Metrics,Regulatory Compliance Metrics,Product Tracking Metrics,Documentation Metrics,Transparency Metrics,Security_Score,Traceability_Score
0,3,3,2,3,5,3,1.6,2.2
1,4,4,4,4,3,4,2.4,2.2
2,5,3,4,2,3,2,2.4,1.4
3,4,5,3,2,4,5,2.4,2.2
4,4,3,3,4,4,3,2.0,2.2
...,...,...,...,...,...,...,...,...
995,5,3,4,5,3,4,2.4,2.4
996,3,4,4,2,3,2,2.2,1.4
997,5,4,4,2,4,2,2.6,1.6
998,4,5,2,3,5,4,2.2,2.4
999,4,3,5,4,5,4,2.4,2.6

In [5]:
sec_trac.columns

Index(['Physical Security Metrics', 'Cyber Security Metrics',
       'Regulatory Compliance Metrics', 'Product Tracking Metrics',
       'Documentation Metrics', 'Transparency Metrics', 'Security_Score',
       'Traceability_Score'],
      dtype='object')

In [6]:
sec_trac.describe()

,Physical Security Metrics,Cyber Security Metrics,Regulatory Compliance Metrics,Product Tracking Metrics,Documentation Metrics,Transparency Metrics,Security_Score,Traceability_Score
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,3.994000,4.029000,3.599000,3.539000,4.00500,3.525000,2.324400,2.213800
std,0.806607,0.794223,1.145212,1.117017,0.80971,1.095708,0.312766,0.341007
min,3.000000,3.000000,2.000000,2.000000,3.00000,2.000000,1.600000,1.400000
25%,3.000000,3.000000,3.000000,3.000000,3.00000,3.000000,2.200000,2.000000
50%,4.000000,4.000000,4.000000,4.000000,4.00000,3.500000,2.400000,2.200000
75%,5.000000,5.000000,5.000000,5.000000,5.00000,4.250000,2.600000,2.400000
max,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,3.000000,3.000000

In [7]:
sec_trac.to_csv('sec_and_trac.csv')

In [8]:
travel_details=pd.read_csv('final_transport.csv')

In [9]:
# Merge relevant columns from travel_details and energy_supply_chain_df
supply_df = pd.merge(travel_details[['Transport Type', 'Delay', 'Actual Timeline', 'Actual Cost']],
                     sec_trac[['Security_Score', 'Traceability_Score']],
                     left_index=True, right_index=True)

# Generate random values for Demand Forecast and Supply Chain Visibility
supply_df['Demand_Forecast'] = np.random.randint(6000, 10000, size=len(supply_df))
supply_df['Supply_Chain_Visibility'] = np.random.randint(1, 4, size=len(supply_df))  # Assuming a scale of 1 to 10

In [10]:
supply_df

,Transport Type,Delay,Actual Timeline,Actual Cost,Security_Score,Traceability_Score,Demand_Forecast,Supply_Chain_Visibility
0,Roadways,4,13,3.830407,1.6,2.2,6041,2
1,Railways,2,5,4.910965,2.4,2.2,8793,3
2,Waterways,1,3,3.781504,2.4,1.4,7384,2
3,Roadways,4,8,3.501386,2.4,2.2,9237,2
4,Roadways,2,6,4.746425,2.0,2.2,8573,1
...,...,...,...,...,...,...,...,...
995,Waterways,1,9,2.123681,2.4,2.4,9388,1
996,Railways,3,6,2.881880,2.2,1.4,7127,1
997,Roadways,3,4,4.826349,2.6,1.6,7657,1
998,Waterways,2,5,2.744151,2.2,2.4,7229,3
999,Railways,4,13,1.354861,2.4,2.6,8052,2

In [11]:
supply_df['Supply_Chain_Visibility'].value_counts()

Supply_Chain_Visibility
1    349
2    337
3    314
Name: count, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder
encoding_values = {'Roadways': 1, 'Railways': 2, 'Waterways': 3}
label_encoder=LabelEncoder()
supply_df['Transport_Encoded'] = label_encoder.fit_transform(supply_df['Transport Type'].map(encoding_values))+1

In [13]:
supply_df

,Transport Type,Delay,Actual Timeline,Actual Cost,Security_Score,Traceability_Score,Demand_Forecast,Supply_Chain_Visibility,Transport_Encoded
0,Roadways,4,13,3.830407,1.6,2.2,6041,2,1
1,Railways,2,5,4.910965,2.4,2.2,8793,3,2
2,Waterways,1,3,3.781504,2.4,1.4,7384,2,3
3,Roadways,4,8,3.501386,2.4,2.2,9237,2,1
4,Roadways,2,6,4.746425,2.0,2.2,8573,1,1
...,...,...,...,...,...,...,...,...,...
995,Waterways,1,9,2.123681,2.4,2.4,9388,1,3
996,Railways,3,6,2.881880,2.2,1.4,7127,1,2
997,Roadways,3,4,4.826349,2.6,1.6,7657,1,1
998,Waterways,2,5,2.744151,2.2,2.4,7229,3,3
999,Railways,4,13,1.354861,2.4,2.6,8052,2,2

In [14]:
supply_df['On-Time Delivery Rate']=supply_df['Transport_Encoded']/3+(4-supply_df['Delay'])/4+(3-supply_df['Security_Score'])/3+(3-supply_df['Traceability_Score'])/3+(3-supply_df['Supply_Chain_Visibility'])/3+(9999-supply_df['Demand_Forecast'])/9999

In [15]:
supply_df

,Transport Type,Delay,Actual Timeline,Actual Cost,Security_Score,Traceability_Score,Demand_Forecast,Supply_Chain_Visibility,Transport_Encoded,On-Time Delivery Rate
0,Roadways,4,13,3.830407,1.6,2.2,6041,2,1,1.795840
1,Railways,2,5,4.910965,2.4,2.2,8793,3,2,1.753945
2,Waterways,1,3,3.781504,2.4,1.4,7384,2,3,3.078193
3,Roadways,4,8,3.501386,2.4,2.2,9237,2,1,1.209541
4,Roadways,2,6,4.746425,2.0,2.2,8573,1,1,2.242614
...,...,...,...,...,...,...,...,...,...,...
995,Waterways,1,9,2.123681,2.4,2.4,9388,1,3,2.877773
996,Railways,3,6,2.881880,2.2,1.4,7127,1,2,2.670562
997,Roadways,3,4,4.826349,2.6,1.6,7657,1,1,2.084223
998,Waterways,2,5,2.744151,2.2,2.4,7229,3,3,2.243694
999,Railways,4,13,1.354861,2.4,2.6,8052,2,2,1.528053

In [16]:
supply_df.describe()

,Delay,Actual Timeline,Actual Cost,Security_Score,Traceability_Score,Demand_Forecast,Supply_Chain_Visibility,Transport_Encoded,On-Time Delivery Rate
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,2.475000,7.56100,3.012571,2.324400,2.213800,8005.161000,1.965000,1.97400,2.070921
std,1.140472,2.81215,1.178715,0.312766,0.341007,1187.233868,0.813903,0.80621,0.522904
min,1.000000,2.00000,1.023551,1.600000,1.400000,6002.000000,1.000000,1.00000,0.624002
25%,1.000000,5.00000,1.974013,2.200000,2.000000,6938.250000,1.000000,1.00000,1.726886
50%,2.500000,8.00000,2.917642,2.400000,2.200000,8061.500000,2.000000,2.00000,2.067772
75%,3.250000,10.00000,4.043724,2.600000,2.400000,9074.500000,3.000000,3.00000,2.426461
max,4.000000,13.00000,5.030190,3.000000,3.000000,9995.000000,3.000000,3.00000,3.466172

In [17]:
max=supply_df['On-Time Delivery Rate'].max()
supply_df['On-Time Delivery Rate']=supply_df['On-Time Delivery Rate']/max

In [18]:
supply_df['On-Time Delivery Rate']*=100

In [19]:
supply_df

,Transport Type,Delay,Actual Timeline,Actual Cost,Security_Score,Traceability_Score,Demand_Forecast,Supply_Chain_Visibility,Transport_Encoded,On-Time Delivery Rate
0,Roadways,4,13,3.830407,1.6,2.2,6041,2,1,51.810464
1,Railways,2,5,4.910965,2.4,2.2,8793,3,2,50.601805
2,Waterways,1,3,3.781504,2.4,1.4,7384,2,3,88.806705
3,Roadways,4,8,3.501386,2.4,2.2,9237,2,1,34.895588
4,Roadways,2,6,4.746425,2.0,2.2,8573,1,1,64.700035
...,...,...,...,...,...,...,...,...,...,...
995,Waterways,1,9,2.123681,2.4,2.4,9388,1,3,83.024532
996,Railways,3,6,2.881880,2.2,1.4,7127,1,2,77.046446
997,Roadways,3,4,4.826349,2.6,1.6,7657,1,1,60.130416
998,Waterways,2,5,2.744151,2.2,2.4,7229,3,3,64.731197
999,Railways,4,13,1.354861,2.4,2.6,8052,2,2,44.084742

In [20]:
supply_df.to_csv('final_supply.csv',index=False)